<div class="col-4 row">
    <span>Edad</span>
    <div class="col-6">
        
        <select id="edad" class="form-select">
            <option selected>Seleccione uno</option>
            <option value="1">6 - 9 años</option>
            <option value="2">9 - 16 años</option>
            <option value="3">Mayor de 16 años</option>
          </select>
    </div>
    <div class="col-2">
        <button class="btn btn-primary" (click)="filtrar()">Siguiente</button>
    </div>
    
</div>
<div id="divChart" class="col-12">
    <canvas id="myChart"></canvas>
</div>