body{
    background-color: rgb(231, 255, 255);
    min-height:100vh;;
    overflow:hidden;
    margin-bottom: 0%;
    
}

.btn{
    background-color: brown;
    color: white;
    width: 100px;
}

#Siguiente{

    margin-top: auto;
    margin-bottom: 7px;
    
}

#head_page{
    background-color: rgb(139, 248, 248);
    text-align: center;
    height: 75px;
    margin-top: 20px;
    box-shadow: 0 0 2px 2px #888;
}

#test_container{
    background-color: white;
    min-height: 650px;
    margin-top: 20px;
    box-shadow: 0 0 2px 2px #888;
    display: flex;
}

#datosUsuario{
    min-height: 550px;
    font-size: large;
    padding: 30px;
}

#info{
    min-height: 550px;
    text-align: left;
}

@media (min-width: 1200px) {
    #info{
        font-size: small;
    }
}

@media (min-width:  1199.98px) {
    #info{
        font-size: xx-large;
    }
}