<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  <div id="test_container" class="card row col-xl-10 offset-xl-1 col-8 offset-2" >
    <div>
      <div class="row card-body">
        <div class="card" id="info">
          <span id="numeropregunta">Pregunta {{indice+1}} de {{questions.length}} </span>
          <h3 id="pregunta">{{questions[indice].Pregunta}}</h3>   
          <div id="r"class="form-check">
            <input type="radio" id="respuesta1" name="pregunta">
            <label for="respuesta1">Nunca</label>
          </div>
          <div id="r" class="form-check">
            <input type="radio" id="respuesta2" name="pregunta">
            <label for="respuesta2">Algunas Veces</label>
          </div>
          <div id="r"class="form-check">
            <input type="radio" id="respuesta3" name="pregunta">
            <label for="respuesta3">Frecuentemente</label>
          </div>
          <div id="r" class="form-check">
            <input type="radio" id="respuesta4" name="pregunta">
            <label for="respuesta4">Siempre</label>
          </div>
          <div id="r" class="form-check">
            <input type="radio" id="respuesta5" name="pregunta">
            <label for="respuesta5">No Observado</label>
          </div>          
        </div>
        <div id="botones" class="text-center">
          <button id="Anterior" type="button" class="btn btn-primary" (click)='anterior()'>Anterior</button>
          <button id="Siguiente" type="button" class="btn btn-primary" (click)='siguiente()'>Siguiente</button>
        </div>
        
      </div>
    </div>
  </div>  
</body>